/bin/
/temp/
/.claude/settings.local.json
/llvm-source
/llvm-project
/.maxon/
/maxon-sharp/bin/
/maxon-sharp/obj/
/specs/fragments-aarch64-macos/.spec_count
/specs/fragments-x86_64-windows/.spec_count
/maxon-selfhosted/maxon-selfhosted.exe
/maxon-selfhosted/maxon-selfhosted
maxon-selfhosted-v2/maxon-selfhosted-v2.exe
