/bin/
/temp/
/.claude/settings.local.json
/llvm-source
/llvm-project
/.maxon/
/maxon-bin/.zig-cache/
/maxon-bin/zig-out/
/maxon-bin/bin/
/maxon-bin-selfhosted/bin/
/specs/fragments/.spec_count
maxon-bin-selfhosted/maxon-bin-selfhosted.exe
maxon-sharp/bin/
maxon-sharp/obj/
